# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# .gitignore - Git Ignore File (MXDF)
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Ignore 'Active Items' index files
.active-items.index

# Ignore 'local' component inside the BASH section
bash/local/*

# Ignore 'local' items
*.local.bash